ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px 16px;
}

li :hover {
    background-color: #BF88;
}